@import '/src/styles.scss';

section#footer {
    background-color: #C8C2BC;
    color: $accent;
    font-size: large;
}

section#footer a {
    text-decoration: none;
    color: #493323;
}
section#footer a:hover {
    color: $gray;
}

// @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css");

// .fa {  
//     width: 25px;
//     padding: 20px;
//     font-size: 25px;
//     text-align: center;
//     text-decoration: none;
//     margin: 5px 2px;
//     color: white;
//     border-radius: 50%; 
//   }

//   .fa:hover {
//       opacity: 0.7;
//   }

//   .fa-facebook {
//     background: #3B5998;
//   }

//   .fa-twitter {
//     background: #55ACEE;
//   }

//   .fa-google {
//     background: #dd4b39;
//   }

//   .fa-linkedin {
//     background: #007bb5;
//   }

//   .fa-youtube {
//     background: #bb0000;
//   }

//   .fa-instagram {
//     background: #8a3ab9;
//   }

//   .fa-whatsapp {
//     background: #4FCE5D;
//   }

//   .fa-pinterest {
//     background: #cb2027;
//   }

//   .fa-snapchat-ghost {
//     background: #fffc00;  
//     text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
//   }

//   .fa-skype {
//     background: #00aff0;
//   }

//   .fa-github {
//     background: #000000;
//   }

//   .fa-dribbble {
//     background: #ea4c89;
//   }

//   .fa-vimeo {
//     background: #45bbff;
//   }

//   .fa-foursquare {
//     background: #45bbff;
//   }

//   .fa-stumbleupon {
//     background: #eb4924;
//   }

//   .fa-flickr {
//     background: #f40083;
//   }

//   .fa-yahoo {
//     background: #430297;
//   }

//   .fa-reddit {
//     background: #ff5700;
//   }

//   .fa-rss {
//     background: #ff6600;
//   }