<!-- Remove the container if you want to extend the Footer to full width. -->

<section id="footer">
    <footer class="text-center text-lg-start">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row mt-4">
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">About</h5>

            <p>
              Kedai kopi menyuguhkan banyak hal, membangkitkan selera. Selamat menikmati hari hari baik bareng kami.

            </p>

            <p>
              Waktunya ngopi!
            </p>


          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4 mt-2 pb-1">Search something</h5>

            <ul class="fa-ul" style="margin-left: 1.65em;">
              <li class="mb-3">
                <span class="fa-li"><i class="fa fa-home"></i></span><span class="ms-2">Leuwimunding, MJL, West Java</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fa fa-envelope"></i></span><span class="ms-2">contact@example.com</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="ms-2">+ 48 234 567 88</span>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4 mt-2">Opening hours</h5>

            <table class="table text-center ">
              <tbody>
                <tr>
                  <td>Mon - Sun:</td>
                  <td>8am - 9pm</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->
        <!-- Section: Social media -->
        <section class="mb-4 text-center">
            <!-- Facebook -->
            <a
               class="btn btn-outline-dark btn-floating m-1"
               href="https://www.facebook.com/piknikcafeleuwimunding/"
               role="button"
               ><i class="fa fa-facebook"></i
              ></a>


            <!-- Instagram -->
            <a
               class="btn btn-outline-dark btn-floating m-1"
               href="https://www.instagram.com/piknik.cafe/"
               role="button"
               ><i class="fa fa-instagram"></i
              ></a>


            <!-- Github -->
            <a
               class="btn btn-outline-dark btn-floating m-1"
               href="https://gitlab.com/zulkarnen/piknik-cafe"
               role="button"
               ><i class="fa fa-gitlab"></i
              ></a>
          </section>
          <!-- Section: Social media --

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a href="https://gitlab.com/zulkarnen/piknik-cafe">Piknik Cafe</a>
      </div>
      <!-- Copyright -->
    </footer>
</section>

