<div class="container text-center">

  <h2>Tidak dapat mendapatkan data produk, cek koneksi dan lakukan ulang </h2>

  <div>
    <button class="btn btn-success" (click)="reloadPage()">Ulang</button>
  </div>

</div>


