<nav>
  <h2>Cashier Page</h2>
</nav>


<ul>
  <li><a [routerLink]="['add-product'] ">Add</a></li>
  <li><a [routerLink]="['list-products']">List Products</a></li>
</ul>


<router-outlet></router-outlet>




<!--
  <mat-form-field appearance="fill">
  <mat-label>Input</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Select</mat-label>
  <mat-select >
    <div  *ngFor="let category of categories | keyvalue" >
    <mat-option value="{{ category.value }}">{{ category.value }}</mat-option>
  </div>
</mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Textarea</mat-label>
  <textarea matInput></textarea>
</mat-form-field>


<div class="container">
  <div class="row">
    <div class="col-6">
      <button class="btn btn-primary" (click)="testUpload()">Upload Test</button>
    </div>
    <div class="col-6">
      <button class="btn btn-danger" (click)="update()">Update Test</button>
    </div>
  </div>
</div>

<div class="container">


<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</form>

</div>

 -->

 <!-- <li><a [routerLink]="['/cashier'] ">Dashboard</a></li> -->
