<app-header class="nav-products"></app-header>
<h1 class="text-center mb-3">Menu</h1>





<div *ngIf="!products && isOnline"><mat-progress-bar mode="query" color="black"></mat-progress-bar>
</div>



<div *ngIf="!isOnline">
  <app-no-internet></app-no-internet>
</div>


<div class="container">
  <div class="row">

    <div class="col-sm-12 col-md-4" *ngFor="let item of products "  [routerLink]="[item.productID ]">
      <div class="card shadow-sm p-3 mb-5 rounded menu"  matTooltip="view details" [matTooltipShowDelay]=1000>
        <div *ngIf="item.src.length == 0"><mat-spinner></mat-spinner>
        </div>
        <img class="e2e-trusted-url e2e-iframe-trusted-src" [src]="item.src" class="card-img-top" alt="Test">
        <div class="card-body">
          <h2 class="text-end">{{ item.title | uppercase}}</h2>
          <h3 class="card-text text-end">{{ item.price | currency:'IDR ':'symbol':'3.0' }}</h3>
        </div>
      </div>
    </div>

  </div>


</div>
