<app-header></app-header>


{{ testDataOrder | async }}

<div class="container">

  <div class="row text-center">
    <div class="col-md-12">
      <h1>Detail Product</h1>
    </div>


    <div *ngIf="!product" class="col-md-12 ">
      <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

  </div>


  <div  *ngIf="product" class="row mt-5">

    <div class="col-md-5">
      <img src="{{ product?.src }}" class="img-thumbnail" alt="">
    </div>


    <div class="col-md-5 text-start pl-3">
      <h2>{{ product?.title }}</h2>
      <h3 class="display-1">{{ product?.category }}</h3>


      <h3 class="card-text">{{ product?.price | currency:'IDR ':'symbol':'3.0' }}</h3>

      <hr>

      <h2>Product Description</h2>

      <p>{{ product?.description }}</p>

      <hr>

      <h2>Quantity</h2>

      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Input Quantity</mat-label>
        <input matInput type="number" [(ngModel)]="qty">
        <button *ngIf="qty" matSuffix mat-icon-button aria-label="Clear" (click)="qty=0">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <br>



      <button type="button" class="btn btn-success" (click)="orderNow()">Buy Now</button>
      <button type="button" class="btn btn-primary ms-3" ><i class="fa fa-cart-plus" aria-hidden="true"></i></button>


    </div>




    <div class="col-md-2">

    </div>

  </div>

<br>
<br>
<br>
<br>
<br>
<br>

</div>



