<nav class="navbar navbar-expand-lg pt-sm-4 shadow-sm p-2 mb-5 rounded">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="collapse navbar-collapse navbar-brand" id="navbarTogglerDemo01">
        <img src="assets/piknik-cafe-logo-brand.png" alt="" width="70" height="70">
        <a class="ms-2 h3 heading-title" id="heading" href="#">Piknik Cafe</a>
        <ul class="navbar-nav ms-auto mb-2 text-center">
          <li class="nav-item me-md-3">
            <a routerLink='/' class="nav-link h6" aria-current="page">Home</a>
          </li>
          <li class="nav-item h6">
            <a routerLink = '/products' class="nav-link nav-products" body-2>Products</a>
          </li>
        </ul>
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>
  <p>

  </p>
<!--
  test gradient pb-5 pt-3 mb-0 -->
