@import "/src/styles.scss";



.test {
    background-color: $primary;
    color: #eaea;
}

a {
    text-decoration: none;
    color: $accent;
}

a:hover {
    color: $gray;
    text-decoration: none;
}

li.nav-item a {
    text-decoration: none;
    color: #493323;
}
li.nav-item a:hover {
    color: $gray;
}



@media only screen and (max-width: 414px) {
    .heading-title#heading {
      display: none;
    }
  }
// .gradient {
// background: linear-gradient(180deg, $primary 0%, rgb(255, 255, 255) 100%);
// }


