<p>list-products works!</p>

<h1>List Products</h1>


<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">INFO PRODUCT</th>
        <th scope="col">NAME</th>
        <th scope="col">PRICE</th>
        <th>READY</th>
        <th scope="col"></th>
      </tr>

    </thead>


    <tbody>


      <tr *ngIf="!products || products?.length == 0">
        <th>
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </th>
        <td>
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </td>
        <td>
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </td>
        <td>
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </td>
      </tr>

      <tr *ngFor="let product of products; let i = index">
        <th scope="row"><img src="{{ product.src }}" alt="" width="60" height="60"></th>
        <td>{{ product.title }}</td>
        <td>{{ product.price }}</td>
        <td>
          <mat-slide-toggle

          class="example-margin"
          [checked]="product.isReady"
          (change)="changeAvailability(product)">

        </mat-slide-toggle>

        </td>
        <td>


          <div class="dropdown">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Atur
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Edit</a></li>
              <li><a class="dropdown-item" (click)="deleteProduct(product)">Hapus</a></li>
            </ul>
          </div>


        </td>
      </tr>


    </tbody>
  </table>
</div>


