
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$piknik-cafe-primary: mat.define-palette(mat.$indigo-palette);
$piknik-cafe-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$piknik-cafe-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$piknik-cafe-theme: mat.define-light-theme((
  color: (
    primary: $piknik-cafe-primary,
    accent: $piknik-cafe-accent,
    warn: $piknik-cafe-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($piknik-cafe-theme);

/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";


@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

$all-colors: map-merge-multiple($blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans);

$utilities: map-merge(
  $utilities,
  (
    "color": map-merge(
      map-get($utilities, "color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "color"), "values"),
          (
            $all-colors
          ),
        ),
      ),
    ),
  )
);

@import "bootstrap/scss/utilities/api";


$primary: #F1CA89;
$danger: #ff4136;
$background: #F2DAC3;
$accent: #493323;
$gray: #C8C2BC;


$theme-colors: (
  "primary": $primary,
  "danger": $danger,

);


.custom-element {
    color: $primary;
    background-color: $dark;
  }



html, body {  background-color: $background;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
