<p>add-product works!</p>

<p>{{ data | json}}</p>


<p>{{ percent | async }}</p>


<div class="container">

  <form #heroForm="ngForm">

  <mat-card>
    <div class="row">

      <div class="col">


          <h2  >Upload Gambar</h2>

          <label class="image-upload-container btn btn-bwm" >
            <span>Select Image</span>
            <input #imageInput
                  type="file"
                  accept="image/*"
                  (change)="uploadImage($event)"
                  >
          </label>

        </div>

          <mat-progress-bar *ngIf="(percent | async) != undefined" mode="determinate" [value]="percent | async "></mat-progress-bar>

          <p class="text-center" *ngIf="(percent | async) != undefined" >{{ percent | async }} % </p>

          <p *ngIf="(percent | async) == 100" #el>UPLOAD SELESAI</p>


          <p>{{ URL | async }}</p>

        </div>

  </mat-card>


  <!-- <button (click)="delete()">cancle upload</button> -->



  <mat-card class="mt-3">
    <div class="row">

      <div class="col">
        <h2>Informasi Produk</h2>
      </div>

    </div>

    <div class="row">

      <div class="col-md">
        <h4>Nama</h4><p>Cantumkan nama yang bener yaa</p>
      </div>

      <div class="col-md-7">

        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nama Produk</mat-label>
            <input matInput placeholder="Ex. Mocha" [(ngModel)]="data.title" name="title" value="Mocha">
          </mat-form-field>
        </form>

      </div>


    </div> <!-- informasi produk row -->


    <div class="row">

      <div class="col-md">
        <h4>Kategori</h4>
      </div>



      <div class="col-md-7">

        <form class="example-form">
          <mat-form-field appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select  [(value)]="data.category" >
              <div  *ngFor="let category of categories | keyvalue" >

              <mat-option  ngDefaultControl [value]="category.value" [(ngModel)]="data.category" name="category">{{ category.value }}</mat-option>
            </div>
            </mat-select>
          </mat-form-field>
        </form>

      </div>

    </div>

    <div class="row">

      <div class="col-md">
        <h4>Harga</h4>
      </div>

      <div class="col-md-7">

        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Harga Produk</mat-label>
            <input matInput placeholder="10000" [(ngModel)]="data.price" name="price" type="number">
          </mat-form-field>
        </form>

      </div>

    </div>

  </mat-card>


  <mat-card class="mt-3">
    <div class="row">

      <div class="col">
        <h2>Detail Produk</h2>
      </div>

    </div>

    <div class="row">

      <div class="col-md">
        <h4>Ready</h4>
      </div>

      <div class="col-md-7">


        <form>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button class="me-3" value=true name="isReady" ngDefaultControl [(ngModel)]="data.isReady">Tersedia</mat-radio-button>
          <mat-radio-button value=false name="isReady" ngDefaultControl  [(ngModel)]="data.isReady">Tidak Tersedia</mat-radio-button>
        </mat-radio-group>
      </form>




      </div>


    </div> <!-- informasi produk row -->

    <div class="row">

      <div class="col-md">
        <h4>Suprise Today ?</h4>
      </div>

      <div class="col-md-7">


        <form>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button class="me-3" value=true name="isSuprise" [required]="true" ngDefaultControl [(ngModel)]="data.isReady">Yeahhh</mat-radio-button>
          <mat-radio-button value=false name="isSuprise" ngDefaultControl [(ngModel)]="data.isSuprise">No</mat-radio-button>
        </mat-radio-group>
      </form>




      </div>


    </div> <!-- informasi produk row -->


    <div class="row">

      <div class="col-md">
        <h4>Deskripsi Produk</h4>
      </div>

      <div class="col-md-7">

        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Deskripsi Product</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..." [(ngModel)]="data.desc" name="description"></textarea>
          </mat-form-field>
        </form>

      </div>

    </div>

  </mat-card>


  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)="submitProduct()">Submit</button>
    </div>
    <div class="col">
      <button class="btn btn-danger" (click)="cancleAddProduct()" >Test Cancel</button>
    </div>
    <div class="col">
      <button class="btn btn-warning" (click)="clearForm()" >Test Clear Form</button>
    </div>
  </div>


</form>

</div>



<!--
    <div class="row mt-4">
      <mat-card>
        <h2>Detail Produk</h2>

      </mat-card>

    </div>

    <div class="row mt-4">
      <mat-card>
        <h2>Harga</h2>

      </mat-card>

    </div>

    <div class="row mt-4">
      <mat-card>
        <h2>Pengelolaan Produk</h2>

      </mat-card>

    </div>
  </div>

 -->



